*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.btn-primary {
  color: #ffff;
  /* background-color: #919191; */
  border-color: #60849b;
  /* border: chocolate; */
  cursor: pointer;
}

p {
  margin: 0 0 13px 0;
  color: #ffff;
}

a {
  color: #fff;
}

.card{
  background-color: #000000;
  color: #fff;
}
.center { text-align: center; }

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: rgb(92, 10, 0);
  text-align: center;
  white-space: nowrap;
  background-color: rgb(208, 184, 102);
  transition: width 0.6s ease 0s;
}

.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.episode__number {
  font-size: 10vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.episode__content {
  border-top: 2px solid rgb(173, 0, 0);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600
}

.episode__content .story {
  line-height: 26px;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
hr{
  color: #fff;
}