* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  li{
    display: inline;
  }
  .header{
    color: aliceblue;
    background-color: black;
  }